faiss-cpu==1.8.0
Flask==3.0.0
google-auth==2.26.2
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
h5py==3.10.0
huggingface-hub==0.20.3
keras==2.15.0
langchain==0.1.14
langchain-community==0.0.31
langchain-core==0.1.38
langchain-openai==0.1.1
langchain-text-splitters==0.0.1
langsmith==0.1.38
numpy==1.26.4
openai==1.16.0
pyarrow==15.0.0
streamlit==1.32.2
tensorflow==2.15.0.post1
tiktoken==0.6.0
tokenizers==0.15.2
tqdm==4.66.2